.bar-side-menu {
   background-color: #107BBF;
 }
 
 .bar-content {
   background-color: #107BBF;
 }
 
 .button.button-positive {
   border-color: #107BBF;
   background-color: #107BBF;
    color: #fff;
 } 

li .item {
    background-color: #313848;
    border-color: #4F5865;
    color: #ccc;
}

.item.activated {
    background-color: #37619b !important;
    color: #fff;
}

li .item:active {
    background-color: #37619b;
    color: #fff;
}

li.item {
    border-color: #4F5865;
}

li.item.item-divider {
    background-color: #3E4755;
    color: #fff;
}

.mm-site_mm_courses .tabs-icon-left {
    background-color: #EBEFF8;
}

.mm-site_mm_courses section h2 span {
    font-weight: bold;
}

p.ng-binding {
    color: #fff
}

.mm-has-navigation-bar .iframe-wrapper {
    top:0px;
}
.row[ng-if] {
    display: none;
}
